.header{
    height: var(--header-height);
    background-color: #111111;
}

.category--prt{
    display: grid;
    grid-template-columns: auto auto auto;
}

*{
    -webkit-overflow-scrolling: touch;
}

.border-selct{
    border-left: 3px solid #111;
}

.img-poster{
    width: 1512px;
}

.header__navbar{
    display: flex;
    height: var(--navbar-height);
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.header__navbar-overflow{
    position: fixed;
    top: 529px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
}


.header__navbar .fl--header{
    display: flex;
    align-items: center;
}

.fl--header img{
    width: 20px;
    height: 20px;
}



.header__navbar-category-frst:hover .header__navbar-overflow{
    display: block;
}

.header__navbar-category-scd1:hover,
.header__navbar-category-scd2:hover,
.header__navbar-category-scd3:hover,
.header__navbar-category-scd4:hover,
.header__navbar-category-scd6:hover,
.header__navbar-category-scd7:hover,
.header__navbar-category-scd8:hover,
.header__navbar-category-scd9:hover,
.header__navbar-category-scd10:hover .header__navbar-overflow{
    display: block;
}


.header__navbar-list{
    list-style: none;
    display: flex;
    margin-top: 24px;
}

.header__navbar-list img{
    margin-right: 24px;
}

.header__navbar-item{
    color: var(--text-color-header);
    font-size: 1.4rem;  
    margin: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__navbar-user{
    position: relative;
    display: flex;
    align-items: center;
}
.header__navbar-user img{
    margin-left: 20px;
}

.header__navbar-language::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #cbcbcb;
    transform: rotate(45deg);
    top: -2px;
    right: 8px;
    position: relative;
}

.header__navbar-language:hover{
    color: #a2bcbd;
}

.header__navbar-icon-link{
    text-decoration: none;
    color: var(--text-color-header);
    font-size: 1.6rem;
}

.header__navbar-search-text{
    color: var(--text-color-header);
    margin-left: 10px;
}

.header__navbar-logo{
    color: var(--text-color-header);
    font-size: 1.4rem;
    text-decoration: none;
    /* font: 22px/32px "Gill Sans", sans-serif; */
    font-family: "Gill Sans", sans-serif;
    font-style: italic;
}

/*----------- Category-------------  */
.header-categorymenu2{
    display: flex;
    justify-content: space-around;
}

.header__categorymenu{
    margin-top: 20px;
    z-index: 1;
}

.header__categorymenuLine{
    border-left: 1px solid #ccc;
    height: 320px;
}

.header__categorymenuLine2{
    border-left: 1px solid #ccc;
    height: 400px;
}

.category-heading{
    color: rgb(101, 101, 101);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: .15rem;
}

.categorymenu-item{
    list-style: none;
    font-size: 1.4rem;
    color: #111;
    padding: 10px 0;
}

.categorymenu__img{
    margin-top: 15px;
}

.category__img{
    width: 310px;
    height: 310px;
}

.categorymenu__link{
    text-decoration: none;
}

.categorymenu__text{
    font: normal 16px/20px 'ChronicleText',Georgia,Serif;
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: #111;
}

.categorymenu__text2{
    font-size: 1.4rem;
    font-weight: normal;
    text-decoration: none;
    color: #111;
}

.categorymenu2{
    max-width: none;
    z-index: 100;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: none;
    height: auto;
    padding-bottom: 40px;
    cursor: default;
}

.header__navbar-category-scd1:hover .categorymenu2{
    display: block;
}

.header__navbar-category-scd2:hover .header__navbar-overflow{
    display: block;
}

.header__navbar-category-scd3:hover .header__navbar-overflow{
    display: block;
}

.header__navbar-category-scd4:hover .header__navbar-overflow{
    display: block;
}

.header__navbar-category-scd5:hover .header__navbar-overflow{
    display: block;
}

.header-categorymenu2{
    margin-top: 20px;
}

.header__categorymenu--layout{
    width: 50%;
}


.header__categorymenu2{
    width: 25%;
}

.header__categorymenu--l{
    margin-left: -45px;
    width: 35%;
}

.header__categorymenu2-layout1{
    width: 30%;
}

.header__categorymenu-brght{
    border-right: 1px solid #ccc;
    height: calc(533px - 10%);
}

.header__categorymenu2-col2{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}


.categorymenu2__heading{
    color: rgb(101, 101, 101);
    /* font-size: 1.3rem;
    font-weight: 400; */
    text-transform: uppercase;
    letter-spacing: .15rem;
    font: var(--categorymenus__header);
}

.categorymenu2__heading:hover{
    cursor: text;
}

.categorymenu2__parh{
    max-width: 100%;
}

.categorymenu2-item{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.categorymenu2-item a{
    margin: 12px 0;
}

.categorymenu2__link{
    text-decoration: none;
    color: #111;
    font-size: 1.4rem;
}

.categorymenu2__img{
    display: block;
    width: 304px;
    height: 304px;
}

.categorymenu2__paragraph{
    color: #111;
    font: normal 16px/20px 'ChronicleText',Georgia,Serif;
    display: block;
    margin: 20px 0;
}

.categorymenu2__text{
    font-size: 1.3rem;
    color: rgb(101, 101, 101);
    border-bottom: 1px solid #111;
}

.categorymenu2__paragraph,
.categorymenu2__text{
    text-decoration: none;
}

.categorymenu2-lastStories{
    display: flex;
    margin-bottom: 15px;
}

.categorymenu2__fashion-img{
    width: 100px;
    height: 125px;
}

.categorymenu2__fashion-img:hover{
    cursor: pointer;
}

.categorymenu2__info{
    margin-left: 20px;
}

.categorymenu2__info-link{
    text-decoration: none;
}

.categorymenu2__header{
    text-transform: uppercase;
    font: 14px/29px "Gill Sans", sans-serif;
    letter-spacing: 2px;
    color: #656565;
    font-weight: 500;
    margin: 0;
}

.categorymenu2__intro{
    color: #111;
    font: 16px/24px 'ChronicleText',Georgia,Serif;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 8px 0;
}

.categorymenu2__time{
    font-size: 1.3rem;
    color: rgb(101, 101, 101);
}

.categorymenu3{
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    left: 0;
    z-index: 100;
    height: 480px;
    display: none;
    cursor: default;
}

.header__categorymenu-brght1{
    border-left: 1px solid #ccc;
    height: 100%;
}

.header__categorymenu3-bl{
    border-left: 1px solid #ccc;
    height: 400px;
}

.header__categorymenu-brght1{
    border-left: 1px solid #ccc;
    height: 470px;
}


.header__navbar-category-scd2:hover .categorymenu3{
    display: block;
}

.header-categorymenu{
    display: flex;
    justify-content: space-around;
}

.header__categorymenu3{
    margin-top: 20px;
}

.categorymenu3-img{
    margin-top: 17px;
}

.categorymenu3__img{
    width: 308px;
    height: 308px;
}

.categorymenu3__heading{
    text-transform: uppercase;
    font: var(--categorymenus__header);
    letter-spacing: 0.15rem;
    font-weight: 500;
    color: rgba(17, 17, 17, 0.744);
}

.categorymenu-list{
    list-style: none; 
}

.categorymenu3-item{
    color: var(--color-category);
    font: var(--categorymenus__header);
    font-weight: 400;
    letter-spacing: 0.9px;
    margin: 20px 0;
}

.categorymenu4,
.categorymenu5{
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: #fff;
    height: 480px;
    z-index: 100;
    cursor: default;
    height: 530px;
    display: none;
}

.header__navbar-category-scd3:hover .categorymenu4{
    display: block;
}

.categorymenu4-down,
.categorymenu5-down{
    margin-top: 38px;
}

.header__categorymenu,
.header__categorymenu7{
    margin-top: 20px;
}
.header__categorymenu7{
    margin-right: 40px;
}

.categorymenu4__heading,
.categorymenu5__heading,
.categorymenu6__heading,
.categorymenu7__heading{
    text-transform: uppercase;
    font: var(--categorymenus__header);
    letter-spacing: .12rem;
    margin: 0;
    color: rgba(17, 17, 17, 0.744);
}

.categorymenu-img{
    margin-top: 20px;
}

.categorymenu__img{
    width: 308px;
    height: 308px;
}

.categorymenu__item-general{
    list-style: none;
    color: var(--color-category);
    font: 14px/14px 'AkkurratPro', sans-serif;
    letter-spacing: .10rem;
    margin-top: 15px;
    padding: 5px 0;
}

.line-height{
    line-height: 25px;
}

.header__navbar-category-scd4:hover .categorymenu5{
    display: block;
}

/* secondary menu 6 */
.categorymenu6,
.categorymenu7{
    position: absolute;
    top: 37px;
    right: 0;
    left: 0;
    background-color: #fff;
    height: 480px;
    z-index: 10;
    cursor: default;
    height: 530px;
    display: none;
}

.header__navbar-category-scd5:hover .categorymenu6{
    display: block;
}

.header__categorymenu-wdth{
    width: 25%;
}

/*------------ Overlay ------------------  */
.header__navbar-overflow{
    position: fixed;
    top: 529px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}

.header__navbar-category-frst:hover .header__navbar-overflow{
    display: block;
}

.header__navbar-category-scd1:hover .header__navbar-overflow{
    display: block;
}

.searchPanel__wrapper{
    display: flex;
    align-items: center;
}

.searchPanel__icon{
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTYgMHYxNkgwVjB6Ii8+PHBhdGggZD0iTTExLjg0NiAzLjA3NWE1Ljc0NyA1Ljc0NyAwIDAwLTcuODktMS45NjcgNS43NDkgNS43NDkgMCAwMDIuOTY4IDEwLjY3OGMuODQxIDAgMS42ODktLjE5NyAyLjQ4Ni0uNTgzTDExLjY5IDE1aDEuMjI3bC0yLjYwMS00LjMzYTUuNzQ3IDUuNzQ3IDAgMDAxLjUzLTcuNTk1ek05LjM0IDEwLjA2OGE0LjY5NCA0LjY5NCAwIDAxLTIuNDE3LjY3MyA0LjY3NCA0LjY3NCAwIDAxLTQuMDM4LTIuMjgyIDQuNjgzIDQuNjgzIDAgMDEtLjUzMi0zLjU2MSA0LjY3NCA0LjY3NCAwIDAxMi4xNDItMi44OTQgNC42OTMgNC42OTMgMCAwMTIuNDE3LS42NzJjMS42NjkgMCAzLjE3OS44NTMgNC4wMzggMi4yODJhNC42NzIgNC42NzIgMCAwMS41MzIgMy41NiA0LjY3NCA0LjY3NCAwIDAxLTIuMTQyIDIuODk0eiIgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjwvc3ZnPg==) no-repeat;
    border: none;
    background-repeat: no-repeat;
    display: inline-block;
    min-height: 16px;
    min-width: 16px;
    filter: invert(100%);
    cursor: pointer;
}


.searchOverlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    width: 100vw;
    background-color: #111;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
}
.searchOverlay-content
.searchOverlay__control--wrapper {
    padding: 63px 0 10px 0;
}
.searchOverlay__control{
    padding: 0 32px;
    display: flex;
    align-items: center;
}
.searchOverlay__icon--search {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTYgMHYxNkgwVjB6Ii8+PHBhdGggZD0iTTExLjg0NiAzLjA3NWE1Ljc0NyA1Ljc0NyAwIDAwLTcuODktMS45NjcgNS43NDkgNS43NDkgMCAwMDIuOTY4IDEwLjY3OGMuODQxIDAgMS42ODktLjE5NyAyLjQ4Ni0uNTgzTDExLjY5IDE1aDEuMjI3bC0yLjYwMS00LjMzYTUuNzQ3IDUuNzQ3IDAgMDAxLjUzLTcuNTk1ek05LjM0IDEwLjA2OGE0LjY5NCA0LjY5NCAwIDAxLTIuNDE3LjY3MyA0LjY3NCA0LjY3NCAwIDAxLTQuMDM4LTIuMjgyIDQuNjgzIDQuNjgzIDAgMDEtLjUzMi0zLjU2MSA0LjY3NCA0LjY3NCAwIDAxMi4xNDItMi44OTQgNC42OTMgNC42OTMgMCAwMTIuNDE3LS42NzJjMS42NjkgMCAzLjE3OS44NTMgNC4wMzggMi4yODJhNC42NzIgNC42NzIgMCAwMS41MzIgMy41NiA0LjY3NCA0LjY3NCAwIDAxLTIuMTQyIDIuODk0eiIgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjwvc3ZnPg==) no-repeat;
    border: none;
    background-repeat: no-repeat;
    display: inline-block;
    min-height: 14px;
    min-width: 14px;
    filter: invert(100%);
    cursor: pointer;
}

.searchOverlay__icon--close {
    border: none;
    background-repeat: no-repeat;
    display: inline-block;
    min-height: 18px;
    min-width: 18px;
    filter: invert(100%);
    cursor: pointer;
    color: #000;
    font-size: 18px;
    margin-left: 10px;
}
.searchOverlay__form{
    width: 100%;
    display: flex;
}

.searchOverlay__icon{
    margin-left: 10px;
    width: 100%;
}

.no-border{
    border: none;
}

.searchOverlay__input{
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    background-color: #111;
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
}

#overlayOn{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 92px;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: none;
}



.logoAnimating{
    visibility: visible;
}

.header__primary{
    margin-top: -5px;
    position: relative;
    display: block;
}


.header__navbar-primary{
    display: flex;
    justify-content: center;
    list-style: none;

}

.header__navbar-category:hover{
    cursor: pointer;
}

.header__navbar-category-frst,
.header__navbar-category-scd,
.header__navbar-category{
    margin: 24px 15px;
    padding: 2px 0 14px;
}

.header__navbar-category-frst:hover{
    border-bottom: 2px solid red;
    cursor: pointer;
}

.header__navbar-category-frst::before{
    content: "";
    display: block;
    width: auto;
    border-bottom: 2px solid transparent;
    color: #fff;
}

.header__navbar-category::before{
    content: "";
    display: block;
    width: auto;
    border-top: 2px solid transparent;
    color: #fff;
} 

.header__navbar-category:hover{
    border-bottom: 2px solid #fff;
}

.header-category-sale{
    color: #f57171;       
}                            

.header-category-link{
    text-decoration: none;
    color: var(--text-color-header);
    font: 14px/14px 'AkkuratPro', sans-serif;
    font-weight: 400;
    height: 37px;
    letter-spacing: 1.2px;
}

.header__account{
    background-color: var(--white-color);
    position: absolute;
    width: 435px;
    height: 470px;
    left: -18px;
    top: 31px;
    box-shadow: 0 2px 4px #e5e5e5;
    display: none;
    z-index: 1;
}

.header__navbar-user:hover .header__account{
    display: block;
}

.header__account::after{
    content: "";
    position: absolute;
    left: 10px;
    top: -25px;
    border-width: 15px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color);
}

.header__account-header h2{
    color: var(--text-color);
    text-align: center;
    margin: 0 25px;
    padding: 25px 0 25px 0;
    border-bottom: 1px solid #e5e5e5;
    cursor: context-menu;
    font: 15px/15px system-ui;
    font-weight: 500;
    letter-spacing: 2px;
}

 .header__account-inf{
    margin: 40px 25px 0 25px;
}

.header__account-label{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.text{
    margin-bottom: 5px;
}

.header__account-email{
    width: 100%;
    height: 40px;
    outline: none;
    margin-bottom: 20px;
}

.header__account-password{
    width: 100%;
    height: 40px;
    outline: none;
}

.header__account-signin{
    display: block;
    margin: 28px auto;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: var(--white-color);
    font-size: 1.4rem;
    outline: none;
    border-radius: 2px;
}   

.header__account-signin:hover{
    cursor: pointer;
    opacity: .7;
}

.header__account-fgpwd{
    display: flex;
    justify-content: center;

}

.account-fgpwd{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin: 0 90px;
}

.header__account-fgpwd:hover{
    opacity: 0.7;
}

.header__account-ftr{
    display: flex;
    justify-content: center;
    margin: 33px auto 0 auto;
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

.account-ftr{
    font-size: 1.3rem;
    font-weight: 600;
    cursor: context-menu;
    color: var(--text-color);
}
.account-ftr-link{
    font-size: 1.3rem;
    color: #333;
    padding-left: 2px;
    text-decoration: none;
    border-bottom: 1px solid #333;
    margin-left: 8px;
} 

.account-ftr-link:hover{
    opacity: .9;
}


/* with list */
.header__wlst{
    background-color: var(--white-color);
    position: absolute;
    width: 435px;
    height: 470px;
    top: 60px;
    right: 30px;
    box-shadow: 0 2px 4px #e5e5e5;
    display: none;
    z-index: 1;
}

.header__navbar-wlst:hover .header__wlst{
    display: block;
}

.header__wlst::after{
    content: "";
    position: absolute;
    right: 48px;
    top: -25px;
    border-width: 15px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color);
}

.header__wlst-header h2{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    margin: 0 25px;
    padding: 25px 0 25px 0;
    border-bottom: 1px solid #e5e5e5;
    cursor: context-menu;
    letter-spacing: 1px;
}


 .header__wlst-inf{
    margin: 40px 25px 0 25px;
}

.header__wlst-label{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.text{
    margin-bottom: 5px;
}

.header__wlst-email{
    width: 100%;
    height: 40px;
    outline: none;
    margin-bottom: 20px;
}

.header__wlst-password{
    width: 100%;
    height: 40px;
    outline: none;
}

.header__wlst-signin{
    display: block;
    margin: 28px auto;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: var(--white-color);
    font-size: 1.4rem;
    outline: none;
    border-radius: 2px;
}   

.header__wlst-signin:hover{
    cursor: pointer;
    opacity: .7;
}

.header__wlst-fgpwd{
    display: flex;
    justify-content: center;

}

.wlst-fgpwd{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin: 0 90px;
}

.header__wlst-fgpwd:hover{
    opacity: 0.7;
}

.header__wlst-ftr{
    display: flex;
    justify-content: center;
    margin: 33px auto 0 auto;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.wlst-ftr{
    font-size: 1.3rem;
    font-weight: 600;
    cursor: context-menu;
    color: var(--text-color);
}
.wlst-ftr-link{
    font-size: 1.3rem;
    color: #000;
    opacity: .6;
    padding-left: 9px;
    text-decoration: none;
} 


/* Shopping bags */
.header__navbar-shpping{
    position: relative;
}

.shpping-icon{
    display: flex;
    justify-content: center;
}

.header__shpping-icon {
    width: 50px;
    margin-top: 25px;
}

.header__shpping{
    position: absolute;
    width: 370px;
    height: 210px;
    background-color: var(--white-color);
    right: -20px;
    top: 30px;
    box-shadow: 0 2px 4px #e5e5e5;
    display: none;
    z-index: 1;
}

.header__shpping::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 15px 15px;
    border-color: transparent transparent var(--white-color);
    right: 12px;
    top: -25px;
}

.header__navbar-shpping:hover .header__shpping{
    display: block;
}

.header__shpping-text{
    color: var(--text-color);
    margin-top: 50px;
    display: block;
    text-align: center;
    font-size: 1.7rem;
}

.header__shpping-ftr{
    display: flex;
    justify-content: center;
}

.header__shpping-link{
    color: var(--text-color);
    text-align: center;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #333;
    margin: 0 130px;
    color: #333;
    opacity: .8;
}

.header__shpping-link:hover{
    color: #333;
    border-bottom: 1px solid #333;
    opacity: 1;
}

.header__container-content{
    max-width: 100%;
    padding: 1px 0;
    border-bottom: 1px solid #83838363;
    margin-bottom: 50px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
}

.header__container-img img{
    width: 100%;
}

.header__container-img:hover{
    cursor: pointer;
}

.header__title{
    letter-spacing: 1px;
    font-family: serif;
    color: #000000;
    margin: 15px 0;
    display: block;
    font: normal 24px/30px 'Chronicle Display';
    text-align: center;
}

.header__container-copy{
    display: flex;
    justify-content: center;
}

.header__container-copy1{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font:  14px/21px 'ChronicleText',Georgia,Serif;
    margin: 5px 0 25px 0;
    width: 550px;
    height: 100px;
}

.header__container-copy1 p{
    height: 70px;
    text-align: center;
}

.header__container-copy1 a{
    color: rgb(152,152,152);
}

.main-body{
    display: grid;
    grid-column-gap: 48px;
    grid-template-areas:
        "filter filterTags"
        "filter listingGrid";
    grid-template-rows: auto 1fr;
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
}

.product-heading{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto 10px;
}

.productlisting__refine{
    display: flex;
    justify-content: space-between;
}

.productlisting__total{
    font-family: 'AkkuratPro', sans-serif;
    font-size: 1.4rem;
    background-color: #fff;
    color: #656565;
    font-weight: 400;
    line-height: 34px;
}


.productlisting__orderby{
    font-family: 'AkkuratPro', sans-serif;
    font-size: 1.4rem;
    background-color: #fff;
    color: #656565;
    font-weight: 400;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    background: none;
    position: relative;
    width: 190px;
}


.productlisting__orderby:hover{
    cursor: pointer;
    border: 1px solid #111;
}

.produclisting__orderbyed{
    padding: 12px 0 12px 12px;
}

.productlisting__icon{
    padding: 0 25px;
}

.productlisting__icons{
    padding-left: 75px;
}

.combine--opened{
    display: none;
}

.combine--opened.show{
    /* display: block; */
    z-index: 1;
}

.combine__custom{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0 12px 12px;
}

.combineSelect__field{
    padding: 9px 0;
    margin: 0;
}

.combineSelect__field li{
    line-height: 40px;
    padding-left: 12px;
    list-style: none;
}

.category-item{
    margin-bottom: 20px;
    border-bottom: 1px solid #83838391;
    cursor: pointer;
    position: relative;
}

.category__icon{
    font-size: 1.6rem;
    font-weight: 600;
    color: #656565;
    display: inline-flex;
    position: absolute;
    right: 0;
}

.category-item:nth-child(1){
    border-top: 1px solid #83838391;
}

.category-title{
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(17, 17, 17);
    margin: 16px 4px 8px 0;
}

.category-subtitle{
    font-size: 1.3rem;
    color: rgb(101, 101, 101);
    margin-bottom: 20px;
}

.category-menu{
    display: none;
}

.category-menu.show {
    display: block; 
}

.filter__filterline{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 0;
}

.filter__filtercheckbox{
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    outline: none;
}

.filter__filtercheckbox--col{
    background-color: #fff;
    border: 1px solid #cbcbcb;
    /* border-radius: 50%; */
    width: 20px;
    height: 20px;
    outline: none;
}

.filter__filterlinelabel{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
    margin: 0 0 0 20px;
    color: #111;
    line-height: 24px;
}

.product-item{
    display: flex;
    cursor: pointer;
    margin-bottom: 50px;
    text-decoration: none;
}

.rotate{
    transform: rotate(180deg);
}

.category__icon {
    transition: 0.3s ease;
}

.search--design{
    height: 40px;
    width: 280px;
    outline: none;
    border: 1px solid #cbcbcb;
    background-color: #fff;
    font: 14px/21px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    border-radius: 2px;
    padding: 8px 40px 8px 12px;
}

.category__menu--search input{
    padding-left: 40px;
}

.category__menu--search{
    margin-bottom: 10px;
    position: relative;
}

.category__menu--search::before{
    content: "";    
    position: absolute;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMjQgMHYyNEgwVjB6Ii8+PHBhdGggZD0iTTE4LjIzOSA0Ljg4QTguNDk4IDguNDk4IDAgMDA2LjU3MyAxLjk3MWE4LjUwMiA4LjUwMiAwIDAwNC4zODcgMTUuNzkxYzEuMzYgMCAyLjczMS0uMzQ1IDQuMDAzLTEuMDI4TDE4LjcyOCAyM2gxLjE2N2wtNC4wNzUtNi43ODJjMy42MzItMi41MzYgNC43MzYtNy40ODMgMi40MTktMTEuMzM4em0tMy40MjQgMTAuODA5YTcuNDg2IDcuNDg2IDAgMDEtMy44NTUgMS4wNzMgNy40NSA3LjQ1IDAgMDEtNi40MzgtMy42NEMyLjM5MSA5LjU3NyAzLjU0MyA0Ljk1OSA3LjA4OCAyLjgyOWE3LjQ4NyA3LjQ4NyAwIDAxMy44NTYtMS4wNzMgNy40NDggNy40NDggMCAwMTYuNDM3IDMuNjQgNy40NTcgNy40NTcgMCAwMS44NDkgNS42NzkgNy40NDkgNy40NDkgMCAwMS0zLjQxNSA0LjYxNHoiIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48L3N2Zz4=) no-repeat;
    background-position: 50%;
    display: block;
    opacity: .2;
    width: 40px;
    height: 40px;
    visibility: visible;
}
/* .hover-image.active{
    display: block;
}

.hover-image{
    display: none;
}

.double-image:hover .hover-image{
    display: block;
} */

.double-image{
    position: relative;
}

.product-img{
    opacity: 1;
}

.hover-image{
    opacity: 0;
}

.double-image:hover .hover-image{
    opacity: 1;
}

.db-image{
    width: 306px;
    height: 450px;
}

.doubleImage-scd{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all .4s ease-in-out;
}

.product-img{
    width: 306px;
    height: 450px;
}

.product__content{
    margin-top: 20px;
}

.product__heading{
    font-size: 1.4rem;
    display: block;
    font-weight: 600;
    font-family: 'AkkuratPro',Sans-Serif;
    letter-spacing: .28px;
    color: #111111;
}

.product__content-text{
    color: var(--text-color-product-heading);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'ChronicleText',Georgia,Serif;
    padding-top: 8px;
    display: block;
}

.product__ftr-cost{
    margin-top: 17px;
}

.product__cost{
    font-size: 1.4rem;
    color: #111111;
    font-weight: 700;
}

/*---------- Footer ------------*/
.scrolltotop{
    width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrolltotop__iconup{
    font-size: 2rem;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    color: #656565;
    padding: 8px 10px;
    margin-bottom: 20px;
}

.scrolltotop__iconup:hover{
    background-color: #e5e5e5;
}

.scrolltotop__icon{
    -webkit-transition: -webkit-transform .2s ease;
    margin-left: 49px;
}

.scrolltotop__icon:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.pagination__wrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px 70px 0;
    align-items: center;
}

.pagination__link{
    text-decoration: none;
    padding: 0 20px;
}

.pagination-text{
    font-size: 1.4rem;
    color: var(--text-color);
}

.pagination-currentpage{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 30px;
    cursor: default;
}

.pagination-icon{
    font-size: 1.3rem;
}


.pagination__left--disabled{
    color: #d4d4d4;
    cursor: default;
}

.pagination__right{
    -webkit-transition: -webkit-transform .2s ease;
}

.pagination__right:hover{
    transform: translateX(5px);
}

.footer__layout{
    padding-top: 48px;
}

.footer__layout-area{
    background-color: #f0f0f0;
    width: 100%;
    margin-top: 38px;
}

.heading2{
    font-size: 1.6rem;
    margin: 0;
}

.heading2--secondary{
    font: 400 18px/22px ChronicleText,Georgia,Serif;
}

.account__untility::before{
    content: "";
    display: block;
    position: relative;
    border-top: 1px solid #cbcbcb;
    width: 48px;
    bottom: -180px;
}

.paragraph{
    margin: 20px 0 20px;
    color: #656565;
    font: 1.3rem AkkuratPro,Sans-Serif;
}

.registrationform{
    display: flex;
    margin-bottom: 50px;
}

.registrationform__email{
    padding-right: 9px;
}


.registration__email-text{
    height: 39px;
    width: 314px;
    font-size: 1.4rem;
    padding-left: 10px;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
}

.registration__email-text:hover{
    border: 1px solid #838383;
}

.registration__email-text:focus{
    outline: none;
    border: 1px solid #000;
}

.registration__button-submit{
    height: 39px;
    width: 105px;
    font-size: 1.4rem;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    color: #cbcbcb;
}

.registration__button-submit:hover{
    cursor: pointer;
    color: #656565;
    border: 1px solid #838383;
}

.socialicon{
    display: flex;
    list-style: none;
    padding: 35px 0 50px;
}

.socialicon__item{
    font-size: 1.5rem;
    padding-right: 25px;
}

.socialicon__item:hover i{
    cursor: pointer;

}

.contactpane{
    padding-top: 45px;
}

.heading{
    font: 12px/16px AkkuratPro, sans-serif;
    font-weight: 700;
    color: var(--text-color-footer);
    margin: 0;
    text-transform: uppercase;
}

.contact{
    display: flex;
}

.contact__telephone{
    margin: 10px 17px 0 0;
}

.contact__telephone-link{
    text-decoration: none;
    font: 12px/16px AkkuratPro,Sans-Serif;
    font-weight: 400;
    letter-spacing: .12px;
    color: #656565;
}

.contact__telephone-link:hover,
.contact__email-link:hover{
    color: #111;
    cursor: pointer;
}

.contact__email{
    margin-top: 10px;
}

.contact__email-link{
    text-decoration: none;
    font: 12px/16px AkkuratPro,Sans-Serif;
    font-weight: 400;
    letter-spacing: .12px;
    color: #656565;
}

.contact__email-link::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #cbcbcb;
    transform: rotate(45deg);
    top: -2px;
    right: 8px;
    position: relative;
}

.localswitch__language{
    font: 12px/16px AkkuratPro,Sans-Serif;
    font-weight: 500;
    letter-spacing: .12px;
    color: #656565;
    display: inline-block;
}

.localswitch__language::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #cbcbcb;
    transform: rotate(45deg);
    top: -2px;
    right: 9px;
    position: relative;
}

.localswitch--lg{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.localswitch--lg img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.localswitch{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.localswitch__language:hover{
    color: #cbcbcb;
    cursor: pointer;
}

.footerlink__ftr{
    margin-top: 40px;
}

.footer__heading{
    text-transform: uppercase;
    color: var(--text-color-footer);
    font-size: 1.3rem;
}

.footer__link-list{
    list-style: none;
    padding: 0;
}

.footer__link-item{
    padding: 10px 0;
}

.footerlink__link{
    text-decoration: none;
    font: 1.3rem 'AkkuratPro',Sans-Serif;
    font-weight: 400;
    color: #716f6d;
}

.siteswitch2{
    margin-bottom: 50px;
}

.siteswitch__heading{
    text-transform: uppercase;
    font: 1.4rem Georgia, serif;
    font-weight: 400;
    letter-spacing: .13px;
    cursor: default;
}

.siteswitch__texts{
    color: var(--text-color-footer);
    font-size: 1.3rem;
}

.siteswitch__link::after{
    content: "";
    display: block;
    position: relative;
    border-bottom: 1px solid #111;
    width: 140px;
    bottom: -5px;
}

.siteswitchlink__link{
    text-decoration: none;
    color: var(--text-color-footer);
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 10px;
    display: block;
}

.siteswitchlink__link:hover{
    color: var(--text-color-product-heading);
}

.paymentcards__heading{
    text-transform: uppercase;
    font: 1.3rem system-ui;
    letter-spacing: 1px;
    color: var(--text-color-footer);
    font-weight: 600;
}

.paymentcards__icon{
    font-size: 4rem;
    margin-right: 10px;
}

.active{
    font-weight: 500;
}

.mainProduct-body{
    grid-template-columns: repeat(3,calc(33.33333% - 32.00016px));
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 48px;
}

 .productImage-item{
    display: grid;
    grid-template-columns: repeat(3,calc(33.33333% - 16.00008px));
    grid-column-gap: 24px;
} 

.mainProduct__img{
    grid-column: 1/3;
}

.productImg{
    width: 100%;
}

.productItem-center{
    grid-column: 1/4;
    display: grid;
}

.productItem{
    display: grid;
    grid-row: 5 / auto;
} 

.mainProduct__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productItem__link{
    text-decoration: none;
}

.productContent__title{
    font: 20px/30px 'ChronicleText',Georgia,Serif;
    font-weight: 400;
    color: #111;
}

.productContent__text{
    font: 14px/21px 'ChronicleText',Georgia,Serif;
    font-weight: 400;
    color: #111;
}

.productContent__link{
    font: 14px/21px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
    color: #111;
    margin-top: 16px;
    border-bottom: 1px solid #111;
    width: 29%;
}

.picture{
    margin-top: .8px;
}

.distance{
    padding-top: 30px;
    border: none;
    margin: 0;
}

.picture:hover,
.picture1:hover{
    cursor: pointer;
}

.text{
    margin-top: 10px;
}

.text-picture{
    margin: 0 0 8px;
    text-align: center;
    line-height: 1.25;
    font-weight: 500;
    font-size: 48px;
    font-family: 'Chronicle Display', 'Times New Roman', serif, sans-serif;
}

.content-p{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'ChronicleText', Georgia, Serif, sans-serif, 'MSung PRC Medium';
    direction: ltr;
    color: rgba(17,17,17,1);
    text-align: center;
    font-weight: 500;
}

.aw{
    text-align: center;
}

.aw-span{
    border-bottom: 1px solid rgba(17,17,17,1);
    line-height: 1.2857142857142858;
    font-size: 14px;
    font-family: 'AkkuratPro', sans-serif, 'MSung PRC Medium';
    color: rgba(17,17,17,1);
    font-weight: 500;
}

.aw-span:hover{
    color: rgba(101,101,101,1);
    cursor: pointer;
}

.br{
    background-color: rgba(203,203,203,1);
    height: 1px;
    border: 0;
}

.hr{
    margin: 0 97px;
    width: calc(100% - 208px);
}

.sl-shw{
    margin-top: 60px;
}

.sl-shws{
    display: flex;
    justify-content: center;
}   

.col1{
    width: 400px;
}

.newin-h4{
    font-family: 'AkkuratPro', sans-serif, 'MSung PRC Medium';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2.1px;
    margin-bottom: 4px;
    opacity: 1;
    color: rgba(101,101,101,1);
}

.newin-h3{
    font-size: 48px;
    font-family: 'Chronicle Display', 'Times New Roman', serif, sans-serif, 'MSung PRC Medium';
    font-weight: 500;
    line-height: 1.25;
    margin: 0;
}

.newin-p{
    font-size: 16px;
    font-family: 'ChronicleText', Georgia, Serif, sans-serif, 'MSung PRC Medium';
    font-weight: 500;

}

.shop-newin__link{
    text-decoration: none;
    
}

.shop-newin__btn{
    color: #f0f0f0;
    font-size: 14px;
    line-height: 1.2857142857142858;
    border: 1px solid rgba(17,17,17,1);
}

.shop-newin__btn{
    text-align: center;
    max-width: 326px;
    cursor: pointer;
    height: 40px;
    background-color: rgba(17,17,17,1);
    border-radius: 4px;
    width: 100%;
}

.col2{
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 900px;
    scroll-behavior: smooth;
}

.sl-shws__prt{
    display: flex;
    scroll-behavior: auto;
}

.prct-img{
    padding: 0 12px;
}

.prct-link{
    text-decoration: none;
    color: #111111;
}

.sl-shws__prt .prct-link{
    width: calc(100% / 4);
    pointer-events: none;
}

.prct-tittle{
    font-size: 14.5px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
}

.icon-awRight{
    position: absolute;
    background-color: rgb(251,250,250);
    padding: 12px;
    top: 37%;
    right: 0;
    opacity: .9;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon-awRight{
    color: rgb(102,102,101);
    font-size: 20px;
}

.icon-awLeft{
    z-index: 1;
    position: absolute;
    background-color: rgb(251,250,250);
    padding: 12px;
    top: 37%;
    left: 0;
    opacity: .9;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon-awLeft:hover, .icon-awRight:hover {
    transform: scale(1.1);
}

.sl-prt {
    overflow: hidden;
}

.sl-shws__prt {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.sl-shws__prt img {
    transition: margin-left 0.5s ease-in-out;
}

.sl-shws__prt img:hover{
    cursor: pointer;
}

.icon-awLeft{
    color: rgb(102,102,101);
    font-size: 20px;
    /* display: none; */
}


.poster{
    margin-top: 80px;
    position: relative;
    cursor: pointer;
}

.poster-tittle{
    position: absolute;
    top: -40px;
    left: 340px;
}

.poster-model{
    display: flex;
    justify-content: center;
    /* max-width: 1300px; */
    /* overflow: hidden; */
}

.poster-model__pc img{
    width: 900px;
    height: 440px;
}

.poster-content{
    margin-left: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.poster-h1{
    font-family: 'Chronicle Display', 'Times New Roman', serif, sans-serif;
    color: rgba(17,17,17,1);
    line-height: 1.25;
    font-size: 48px;
    font-weight: 500;
    direction: ltr;
    margin: 11px 0 0;
}

.poster-h6{
    font-family: 'Chronicle Display', 'Times New Roman', serif, sans-serif;
    color: rgba(17,17,17,1);
    font-style: italic;
    font-size: 32px;
    line-height: 1.25;
    margin: 0;
    font-weight: 500;
}

.poster-p{
}

.poster-h2{
    font-size: 24px;
    line-height: 1.25;
    font-family: 'Chronicle Display', 'Times New Roman', serif, sans-serif;
    color: rgba(17,17,17,1);
    font-weight: 500;
    overflow-wrap: break-word;
    width: 500px;
}

.poster-span{
    line-height: 1.2857142857142858;
    font-size: 14px;
    font-family: 'AkkuratPro', sans-serif, 'MSung PRC Medium';
    font-weight: 500;
    color: rgba(17,17,17,1);
    border-bottom: 1px solid rgba(17,17,17,1);
}

.register{
    margin-top: 52px;
}

.form-register{
    width: 480px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.rs-tittle{
    font: normal 24px/30px 'Chronicle Display';
    color: #111;
}

.rs-email{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
}

.rs-pws{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
}

.rs-name1{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
}

.rs-name2, 
.rs-date{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
}

.form-email{
    width: 480px;
    height: 40px;
    font: 14px/21px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.form-pws{
    width: 480px;
    height: 40px;
    font: 14px/21px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
}

.psw-p{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
    display: inherit;
    color: #656565;
    line-height: 18px;
    padding: 5px 0 0;
    margin-bottom: 20px;
}

.form-name1{
    width: 480px;
    height: 40px;
    font: 14px/21px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.form-name2{
    width: 480px;
    height: 40px;
    font: 14px/21px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.register-conset{
    margin-top: 20px;

}

.date-rgs{
    width: 80px;
    height: 40px;
    font: 14px/21px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    padding: 0 0 0 10px;
    font-weight: 400;
}

.register-link{
    color: #111;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 13px;
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    font-weight: 400;
    margin: 20px;
}

.check-terms{
    height: 20px;
    width: 20px;
}

.message-terms{
    font: 12px/16px 'AkkuratPro',Sans-Serif;
    letter-spacing: .12px;
    color: #656565;
    font-weight: 400;
}

.message-terms a{
    font: 12px/16px 'AkkuratPro',Sans-Serif;
    letter-spacing: .12px;
    color: #656565;
    font-weight: 400;
}

.registerMarket-conset{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    font-weight: 600;
    letter-spacing: .14px;
    position: relative;
    top: -20px;
    left: 35px;
}

/* -------------- Cart --------------- */
.containers{
    display: flex;
    justify-content: space-around;
}

.content{
    width: 100%;
}

.checkout-itemAndTotal{
    display: flex;
    justify-content: space-around;
}

.cart-info{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-direction: column;
    margin-left: 24px;
}

.cart-img img {
    height: 160px;
    width: 106px;
    
}

.cart-img {
    display: grid;
    grid-template-columns: 107px 897px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.paymentcards--wallet{
    margin-top: 15px;
}

.cart-product{
    border-top: 1px solid #ccc;
    margin-bottom: 10px;

}

.card--icon{
    margin-left: 15px;
}

.checkout-title{
    font: 20px/24px 'Chronicle Display';
    line-height: 30px;
    font-weight: 400;
    font-size: 24px;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 45px;
}

.single-badge{
    letter-spacing: 2px;
    line-height: 1.5;
    color: #656565;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    -ms-flex-preferred-size: 100%;
    font-size: 12px;
}

.LineItem__name{
    display: block;
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #656565;
    margin-bottom: 8px;
}

.LineItem__color{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #656565;
    padding-bottom: 10px;
}

#cart{
    padding: 10px 0 0 0;
}

#cart li {
    list-style: none;
}

#total-price{
    padding: 0;
    border-top: 1px solid #ccc;
    padding: 24px 0 8px
}

.total-product{
    margin-left: 24px;
    width: 300px;

}

.Notification--info{
    width: 300px;
    border: 1px solid #d6e2ec;
    background-color: #edf6fd;
    border-radius: 5px;
    padding: 11px 16px 11px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Notification__message{
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    color: #103855;
    padding-left: 10px;
}

.brand-title{
    color: #111;
    display: inline-block;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 0;
    margin-bottom: 8px;
}

.checkout-price{
    padding: 2px 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: .28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.priceTotalAll{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    font-family:  'AkkuratPro',Sans-Serif;
    letter-spacing: .14px;
    margin-top: 24px;
}

.excl--icon{
    width: 20px;
    height: 20px;
}

.button--checkout{
    width: 300px;
    border: 1px solid #d6e2ec;
    background-color: rgb(17, 17, 17);
    border-radius: 5px;
    padding: 11px 16px 11px 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.unlock--checkout{
    width: 20px;
    height: 20px;
    color: #fff;
    z-index: 1;
}

.button--primary{
    text-decoration: none;
}

.button-checkout{
    padding-left: 20px;
    text-align: center;
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    color: #fff;
    letter-spacing: 1px;
}

.checkout-oderSummary{
    text-transform: uppercase;
    color: #111;
    font: 14px/18px 'AkkuratPro',Sans-Serif;
    letter-spacing: 2.1px;
    font-weight: 400;
    margin-bottom: 10px;
}


.footerlayout{
    display: flex;
    flex-direction: flex-start;
}

.footerlayout__frst{
    margin: 0 20% 0 20px;
}

.footerLink__list{
    grid-template-columns: repeat(3,calc(33.33333% - 16.00008px));
    display: grid;
    grid-column-gap: 24px;
}

